body { /* Setting the Scenery */
    font-family: 'Press Start 2P', cursive;
    display: grid;
    background-size: cover; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-image: url(https://i.imgur.com/hWCRjKy.png);
}

/* Tomagotchi */
.petImage {
    position: absolute;
    bottom: 10px;
    justify-self: center;
}

/* Menu */
#menu {
    justify-self: start;
}


