body { /* Setting the Scenery */
    background-image: url(https://i.imgur.com/hWCRjKy.png);
}

/* Tomagotchi */
.tamagotchi {
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Menu */



